@(form: Form[Cliente])

<h1>Criar novo Cliente!</h1>
<form action="/clientes" method="post">
    <input type="text" name="nome" placeholder="Digite seu Nome">
    <input type="text" name="email" placeholder="Digite seu E-mail">
    <input type="text" name="cpf" placeholder="Digite seu CPF">
    <input type="text" name="endereco" placeholder="Digite seu Endereço">
    <input type="text" name="telefone" placeholder="Digite seu telefone">
    <input type="password" name="senha" placeholder="Digite sua senha">
    <button type="submit">Salvar</button>
    <button type="reset">Limpar</button>
</form>

