@(reserva: Reserva, clientes: List[Cliente], funcionarios: List[Funcionario], mesas: List[Mesa])
<div class="row">
    <div class="large-12-columns">
        <fieldset>
            <legend>Cadastrar Cliente</legend>
            <form action="/reservas/@reserva.getId()" method="post">
                <div class="row">
                    <div class="large-2 columns">
                        <label for="quantidadeConvidados" class="text-right">QTDE. CONVIDADOS</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="quantidadeConvidados" value="@reserva.getQuantidadeConvidados()"
                               name="quantidadeConvidados" placeholder="Ex.: 10" required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 columns">
                        <label for="mesa" class="text-right">MESA</label>
                    </div>
                    <div class="large-6 columns end">
                        <select name="mesa" id="mesa" required="required">
                            <option value="">Selecione a Mesa</option>
                            @for(mesa <- mesas){
                            @if(reserva.getMesa().getId() == mesa.getId()){
                            <option selected="selected" value="@mesa.getId()">@mesa.getNumero() (@mesa.getLugares()
                                Lugares)
                            </option>
                            }else{
                            <option value="@mesa.getId()">@mesa.getNumero() (@mesa.getLugares() Lugares)</option>
                            }

                            }
                        </select>
                    </div>
                </div>

                <!--<div class="row">-->
                    <!--<div class="large-2 columns">-->
                        <!--<label for="data" class="text-right">DATA</label>-->
                    <!--</div>-->
                    <!--<div class="small-6 columns end">-->
                        <!--<input type="date" id="data" name="data" value="@reserva.getData()" required="required">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row">
                    <div class="large-2 columns">
                        <label for="cliente" class="text-right">CLIENTE</label>
                    </div>
                    <div class="large-6 columns end">
                        <select name="cliente" id="cliente" required="required">
                            <option value="">Selecione o Cliente</option>
                            @for(cliente <- clientes){
                            @if(reserva.getCliente.getId() == cliente.getId()){
                            <option selected="selected" value="@cliente.getId()">@cliente.getNome()</option>
                            }else{
                            <option value="@cliente.getId()">@cliente.getNome()</option>
                            }

                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 columns">
                        <label for="funcionario" class="text-right">FUNCIONÁRIO</label>
                    </div>
                    <div class="large-6 columns end">
                        <select name="funcionario" id="funcionario" required="required">
                            <option value="">Selecione o Funcionário</option>
                            @for(funcionario <- funcionarios){
                            if(funcionario.getId() == reserva.getAtendente().getId()){
                            <option selected value="@funcionario.getId()">@funcionario.getNome()</option>
                            }else{
                            <option value="@funcionario.getId()">@funcionario.getNome()</option>
                            }

                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 columns">
                        <label for="observacao" class="text-right">DESCRIÇÃO</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" name="observacao" id="observacao" value="@reserva.getObservacao()">
                    </div>
                </div>


                <div class="row">
                    <div class="large-8 columns end">
                        <hr>
                    </div>
                </div>

                <div class=" row">
                    <div class="large-8 columns end">
                        <a href="/" class="button alert float-left">Cancelar</a>
                        <button id="submit" type="submit" class="button primary float-right">Enviar</button>
                        <button type="reset" class="button secondary float-right">Limpar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
