@(form: Form[Fornecedor])

<div class="row">
    <div class="large-12 columns">
        <fieldset>
            <legend>Cadastrar Fornecedor</legend>
            <form action="/fornecedores" method="post">
                <div class="row">
                    <div class="large-2 columns">
                        <label for="nome" class="text-right">NOME</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="nome" name="nome" placeholder="Digite o Nome do Fornecedor">
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 columns">
                        <label for="cnpj" class="text-right">CNPJ</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="cnpj" name="cnpj" placeholder="Digite o CNPJ do Fornecedor">
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 columns">
                        <label for="endereco" class="text-right">ENDEREÇO</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="endereco" name="endereco" placeholder="Digite o Endereço do Fornecedor">
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 columns">
                        <label for="telefone" class="text-right">ENDEREÇO</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="telefone" name="telefone" placeholder="Digite o Telefone do Fornecedor">
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 columns end float-right">
                        <button type="reset" class="button secondary">Limpar</button>
                        <button type="submit" class="button primary">Enviar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
