<div class="row">
    <div class="large-12 columns">
        <h1>SG Restaurante</h1>
    </div>
    <div class="large-6 columns end">
        <fieldset>
            <legend>Login</legend>
            <form action="/login" method="post">
                <label for="username">
                    <input type="text" id="username" name="username" placeholder="josedasilva">
                </label>
                <label for="password">
                    <input type="password" id="password" name="password" placeholder="******">
                </label>
                <input type="submit" class="button">
            </form>
            <p>Novo Cliente? Cadastre-se <a href="/clientes/new">aqui!</a></p>
        </fieldset>

    </div>
</div>