@(content: Html)

<!DOCTYPE html>
<html class="no-js" lang="pt">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SG Restaurante</title>
    <link rel="stylesheet" href="/assets/stylesheets/foundation/foundation.min.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/foundation/app.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/foundation-icons/foundation-icons.css">
</head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">SG Restaurante</li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a>Cadastrar</a>
                <ul class="menu vertical">
                    <li><a href="/cardapios/new">Cardápio</a></li>
                    <li><a href="/cargos/new">Cargo</a></li>
                    <li><a href="/comandas/new">Comanda</a></li>
                    <li><a href="/clientes/new">Cliente</a></li>
                    <li><a href="/cortesias/new">Cortesia</a></li>
                    <li><a href="/fornecedores/new">Fornecedor</a></li>
                    <li><a href="/funcionarios/new">Funcionário</a></li>
                    <li><a href="/mesas/new">Mesa</a></li>
                    <li><a href="/pedidos/new">Pedido</a></li>
                    <li><a href="/produtos/new">Produto</a></li>
                    <li><a href="/reservas/new">Reserva</a></li>
                    <li><a href="/status/new">Status</a></li>
                    <li><a href="/sugestoes/new">Sugestão</a></li>
                </ul>
            </li>
            <li>
                <a>Listas</a>
                <ul class="menu vertical">
                    <li><a href="/cardapios/all">Cardápios</a></li>
                    <li><a href="/cargos/all">Cargos</a></li>
                    <li><a href="/comandas/all">Comandas</a></li>
                    <li><a href="/clientes/all">Clientes</a></li>
                    <li><a href="/cortesias/all">Cortesias</a></li>
                    <li><a href="/fornecedores/all">Fornecedores</a></li>
                    <li><a href="/funcionarios/all">Funcionários</a></li>
                    <li><a href="/mesas/all">Mesas</a></li>
                    <li><a href="/pedidos/all">Pedidos</a></li>
                    <li><a href="/produtos/all">Produtos</a></li>
                    <li><a href="/reservas/all">Reservas</a></li>
                    <li><a href="/status/all">Status</a></li>
                    <li><a href="/sugestoes/all">Sugestões</a></li>
                </ul>
            </li>
            <!--<li><a href="#">Two</a></li>-->
            <!--<li><a href="#">Three</a></li>-->
        </ul>
    </div>
    <!--<div class="top-bar-right">-->
        <!--<ul class="menu">-->
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li>-->
                <!--<button type="button" class="button">Search</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>

<div>
    @content
</div>

<script src="/assets/javascripts/foundation/vendor/jquery.js"></script>
<script src="/assets/javascripts/foundation/vendor/what-input.js"></script>
<script src="/assets/javascripts/foundation/vendor/foundation.min.js"></script>
<script src="/assets/javascripts/jquery.maskedinput.min.js"></script>
<script src="/assets/javascripts/app.js"></script>
<script>$(document).foundation();</script>

</body>
</html>