@(cortesia: Cortesia, produtos : List[Produto])

<div class="row">
    <div class="large-12-columns">
        <fieldset>
            <legend>Cadastrar Cortesia</legend>
            <form action="/cortesias/@cortesia.getId()" method="post">

                <div class="row">
                    <div class="large-2 columns">
                        <label for="produto" class="text-right">PRODUTO</label>
                    </div>
                    <div class="large-6 columns end">
                        <select name="produto" id="produto" required="required">
                            <option value="">Selecione o Produto</option>
                            @for(produto <- produtos){
                                @if(produto.getId() == cortesia.getProduto().getId()){
                                    <option selected="selected" value="@produto.getId()">@produto.getNome()</option>
                                }else{
                                    <option value="@produto.getId()">@produto.getNome()</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 columns">
                        <label for="quantidade" class="text-right">QUANTIDADE</label>
                    </div>
                    <div class="small-6 columns end">
                        <input type="text" id="quantidade" value="@cortesia.getQuantidade()" name="quantidade" placeholder="Ex.: 50" required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns end">
                        <hr>
                    </div>
                </div>

                <div class=" row">
                    <div class="large-8 columns end">
                        <a href="/" class="button alert float-left">Cancelar</a>
                        <button id="submit" type="submit" class="button primary float-right">Enviar</button>
                        <button type="reset" class="button secondary float-right">Limpar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>